:root{
    --50: oklch(0.987 0.022 95.277);
    --100: oklch(0.987 0.022 95.277);
    --200: oklch(0.901 0.076 70.697);
    --300: oklch(0.901 0.076 70.697);
    --400: oklch(0.828 0.189 84.429);
    --500: oklch(0.769 0.188 70.08);
    --600: oklch(0.666 0.179 58.318);
    --700: oklch(0.555 0.163 48.998);
    --800: oklch(0.473 0.137 46.201);
    --900: oklch(0.414 0.112 45.904);
    --950: oklch(0.279 0.077 45.635);
    --bg-color: oklch(90.06% 0.0001 271.152);
    --box-shadow-effect: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}