@import url('color.css?');

/*Icons and fonts*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/*UI design*/
* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    background-color: var(--50);
    font-family: 'Funnel Sans', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 50%);
    border-radius: 8px;
}
.home{
    width:100%;
    height: 50vh;
    display: flex;
    float: right;
}
.home img{ 
    width: 50%;
    height: 100%;
    filter: grayscale(80%);
    transition: 0.5s ease-in-out;
}

.home:hover img{
    filter: grayscale(0%);
}
a {
    text-decoration: none;
    color: inherit;
}
.shop-now{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.shop-now h1,
.shop-now p{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-align: center;
    margin-bottom: .5rem;
}
.shop-now .buttons {
    width: 8%;
    height: 2.8rem;
    display: block;
    margin: 1.5em auto;
}
.featured-products {
    height: fit-content;
    width: 100% ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
#products-header {
    margin-left: 40px;
    margin-bottom: 2rem;
}
.products {
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 0.5rem;
} 

.product-card {
    border: 1px solid var(--bg-color);
    margin: 0.5rem;
    width: 70%;
    height: 80%;
    padding: 0.5rem;
    font-size: 1rem;
    box-shadow: var(--box-shadow-effect);
    transition: 0.3s ease-in-out;
}
.product-card * {
    display: flex;
    align-items: last baseline;
    justify-content: space-evenly;
    margin: 0.5rem auto;
}
.product-card img{
    width: 90%;
    height: 50%;
    padding: 10px;
    object-fit: cover;
}
.product-card p{
    text-align: center;
    margin: 1rem auto;
}
.product-card .buttons{
    width: 80%;
    height: 2.5rem;
    display: flex;
    margin: 1rem auto;
    display: block;
}

.product-card:hover{
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transform: scale(1.03);
}
footer{
    width: 100%;
    height: fit-content;
    background-color: hsl(175, 100%, 29%);
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem 0 2rem 2rem;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    text-decoration: underline;
}