html, body {
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 10%); 
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color:var(--50);
}

#menu {
    display: flex;
    float: right;
}
#menu form input  {
    display: flex;
    align-self: center;
    margin: 5px 1rem 0 0;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid black;
}

.user-features a {
    text-decoration: none;
    width: 35px;
    height: 30px;
    color: hsl(0, 0%, 10%);
    font-size: 1.5rem;
    margin: auto;
}

.user-features a span {
    display: flex;
    height: 100%;
    font-size: 1.7rem;
    justify-content: center;
}



.user-features a{
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
    float: left;
    padding: 8px; 
}
.menu-btn {
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
    float: left;
}

.menu-btn button {
    border: none;
    cursor: pointer;
    padding: 8px;
    background-color: var(--50);
}

.menu-btn button:hover {
    border: none;
}

.side-panel {
    width: 30vh;
    z-index: 1;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    margin-top: 4%;
    background-color: var(--50);
    transition: 0.5s ease-in;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}
.side-panel .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

.side-panel .closebtn:hover {
    background: #d32f2f;
}
.side-panel a {
    color: hsl(0, 0%, 10%);
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;;
}
.side-panel a span {
    font-size: 1.5rem;
    vertical-align: middle;
}
.side-panel a:nth-child(2) {
    margin-top: 3rem;
}
.side-panel a:hover {
    background-color: hsl(0, 0%, 80%);
}

.menu-btn {
    background: var(--50);
}