.products-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;  
    justify-content: flex-start;
    gap: 2rem;
}
.product-card {
    width: 200px;
    height: 300px;            
    background-color: var(--50);
    border: 1px solid var(--bg-color);
    transition: 0.3s ease-in-out;
    box-shadow: var(--box-shadow-effect);
}
.product-card:hover{
    transform: scale(1.01);
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.5);
}
.product-card img {
    width: 100%;
    height: 60%;
    padding: 4px 0;
}
.product-card p {
    text-align: center;
    padding: 4px 0;
}
.product-card button {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.product-card button:hover {
    background-color: #333;
}