:root{
    --50: hsl(48, 100%, 96%);
    --100: hsl(48, 97%, 89%);
    --200: hsl(48, 98%, 76%);
    --300: hsl(47, 100%, 59%);
    --400: hsl(44, 100%, 50%);
    --500: hsl(36, 100%, 50%);
    --600: hsl(30, 100%, 44%);
    --700: hsl(25, 100%, 37%);
    --800: hsl(24, 100%, 30%);
    --900: hsl(23, 91%, 25%);
    --950: hsl(21, 97%, 14%);
    --bg-color : hsl(0, 0%, 87%);
    --box-shadow-effect: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
