@import url('color-palette.css?');
/* Icons and fonts*/
#display-card-icons{
    display: flex;
    float: right;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: -20px;
    font-size: 4rem;
    width: 20%;
    height: 50%;
    align-items: center;
    justify-content: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*Desgins*/
*,
*::before,
*::after{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    background-color: hsl(0, 0%, 87%);
}
nav{
    background-color: var(--50);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
}
nav h2 {
    margin-left: 40px;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    letter-spacing: 0.5px;
}
.nav-links a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    position: relative;
    transition: all 0.3s ease;
}
.nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: black;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    opacity: 0.6;
    width: 100%;
}
.nav-links a:hover{
    color: var(--bg-color);
}

.overview {
    display: flex;
    width: 100%;
    border-right: 1px solid var(--200);
    margin-bottom: 3rem;
}

.product-overview, .revenue-overview {
    width: 45%;
    padding: 20px;
    background-color: var(--50);
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow-effect);
}

.product-overview *, .revenue-overview  *{
    margin-bottom: 12px;
}

.product-container {
    width: 95%;
    display: block;
    padding: 2rem;
    border-radius: 10px;
    margin: 0 auto;    
    background-color: var(--50);
    box-shadow: var(--box-shadow-effect);   
}

.list-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid var(--bg-color);
    padding: 10px 10px;

}

.list-row  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}