@import url('color-palette.css');
/* Icons and fonts*/
#display-card-icons{
    display: flex;
    float: right;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: -20px;
    font-size: 4rem;
    width: 20%;
    height: 50%;
    align-items: center;
    justify-content: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*Desgins*/
*,
*::before,
*::after{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    background-color: hsl(0, 0%, 87%);
}
nav{
    background-color: var(--50);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
nav h2 {
    margin-left: 40px;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    letter-spacing: 0.5px;
}
.nav-links a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    position: relative;
    transition: all 0.3s ease;
}
.nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--800);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}
.nav-links a:hover{
    color: var(--300);
}

.overview {
    display: block;
    width: 80%;
    background-color: var(--50);
    margin: 20px 50px 0 50px;
}

